MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123
MONGO_INITDB_DATABASE=weather_energy
DB_NAME=weather_energy
MONGODB_URI=mongodb://admin:admin123@localhost:27017/weather_energy?authSource=admin
